<!DOCTYPE html>
{% extends 'template.html' %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        {% block content %}
            <main>
                <div>
                    <h1>My Tasks</h1>
                    {% if not tasks %}
                        <p>You have no tasks</p>
                    {% else %}
                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Start date</th>
                                    <th>Due date</th>
                                    <th>Is completed</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for t in tasks  %}
                                    <tr>
                                        <td>{{ t.name }}</td>
                                        <td>{{ t.start_date }}</td>
                                        <td>{{ t.due_date }}</td>
                                        <td>{{ t.is_completed|yesno:"Yes,No" }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </main>
        </body>
    </html>
{% endblock content %}
