<!DOCTYPE html>
{% extends 'template.html' %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tasks</title>
    </head>
    <body>
        {% block content %}
            <main>
                <div>
                    <h1>{{ project.name }}</h1>
                    <p>{{ project.description }}</p>
                    <p>
                        <a href="{% url 'create_task' %}">Create a new task</a>
                    </p>
                    <h2>Tasks</h2>
                    {% if project.tasks.all|length > 0 %}
                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Assignee</th>
                                    <th>Start date</th>
                                    <th>Due date</th>
                                    <th>Is completed</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for t in project.tasks.all %}
                                    <tr>
                                        <td>{{ t.name }}</td>
                                        <td>{{ t.assignee.username }}</td>
                                        <td>{{ t.start_date }}</td>
                                        <td>{{ t.due_date }}</td>
                                        <td>{{ t.is_completed|yesno:"yes,no" }}</td>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <p>This project has no tasks</p>
                        {% endif %}
                    </div>
                </main>
            </body>
        </html>
    {% endblock content %}
